body {
    background-color: #EEEEEE;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #393E46;
    width: 70%;
    margin: auto;
}

h1 {
    font-size: 312%;
    color: #00ADB5;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 0;
}

h3, th {
    color: #222831;
}

td {
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

a {
   color: #00ADB5;
   text-decoration: none;
}

a:hover {
    color: #3cb0fd;
}

hr {
    border: dotted #7F8487 6px;
    border-bottom: none;
    width: 3%;
    margin: 10% auto
}

.bio {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.profile-img {
    float: left;
    margin-right: 20px;
    margin-bottom: 5px;
}

.profile-text {
    margin-top: 0;
    text-align: left;
}

.background {
    width: 100%;
    height: 40%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.3;
}

.align-center {
    margin-left: auto;
    margin-right: auto;
}

.align-left {
    text-align: left;
}

.btn {
  background: #00ADB5;
  background-image: -webkit-linear-gradient(top, #00ADB5, #00ADB5);
  background-image: -moz-linear-gradient(top, #00ADB5, #00ADB5);
  background-image: -ms-linear-gradient(top, #00ADB5, #00ADB5);
  background-image: -o-linear-gradient(top, #00ADB5, #00ADB5);
  background-image: linear-gradient(to bottom, #00ADB5, #00ADB5);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #EEEEEE;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.contact {
    position: fixed;
    left: 10px;
    bottom: 10px;
}

.github {
    position: fixed;
    right: 10px;
    bottom: 10px;
}
